{% extends "client/core/content.html.twig" %}

{% set page_title = "Mes notifications" %}
{% set breadcrumb = 'Notification' %}

{% block content %}

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="card align-center">
            <div class="card-header text-center">
                <h3>
                    {% trans %}Notification{% endtrans %}
                </h3>
            </div>
            <div id="content">
                {% include 'client/notification/contenu.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
