{% extends "client/base.html.twig" %}

{% set page_title = "Politique de Protection des Données Personnelles" %}

{% block body %}
<div class="content-page">
		<div class="content">
				<div class="container-fluid">
						<div class="row">
								<div class="col-xl-12">
										<div class="breadcrumb-holder">
												<h1 class="main-title float-left">Politique de Protection des Données Personnelles</h1>
												<ol class="breadcrumb float-right">
														<li class="breadcrumb-item">Accueil</li>
														<li class="breadcrumb-item active">Politique de Protection des Données Personnelles</li>
												</ol>
												<div class="clearfix"></div>
										</div>
								</div>
						</div>
						<div class="row clearfix">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="card">
												<h2>En construction</h2>
												<p>Cet page est actuellement en cours de rédaction, elle sera bientôt disponible</p>
												<p>Merci de votre patience</p>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
{% endblock %}
