
<div class="alert alert-danger" role="alert">
		<h4 class="alert-heading">Version de démonstration</h4>
		<p> Ceci est une version de démonstration, n'entrer pas d'information personnelles, car tout le monde pourra les voir</p>
</div>
