<p>
		<strong>
				ARTICLE 1. INFORMATIONS LÉGALES
		</strong>
</p>
<p>En vertu de l'article 6 de la Loi n° 2004-575 du 21 juin 2004 pour la
 confiance dans l'économie numérique,<br> il est précisé dans cet article
l'identité des différents intervenants dans le cadre de sa réalisation
et de son suivi.</p>
<p>Le site <b>Populorum</b> est édité par&nbsp;: <b>Andrew Caron</b>
<p>Adresse e-mail&nbsp;: contact@andrew-caron.fr</p>


<p><br>Le directeur de publication du site est&nbsp;: Andrew Caron.</p>
<p><br>Le site Populorum est hébergé par&nbsp;:</p>
<p>o2switch, dont le siège est situé à l'adresse ci-après&nbsp;:</p>
<p style="padding-left: 33px;">222 Boulevard Gustave Flaubert, 63000 Clermont</p>
<p>Numéro de téléphone&nbsp;: 04 44 44 60 40</p>
<p><strong><br>ARTICLE 2. PRÉSENTATION DU SITE</strong></p>
<p>Le site Populorum a pour objet&nbsp;:</p>
<p style="padding-left: 33px;">La mise en place d'un SIRH permettant la gestion d'information liée aux ressources humaines.</p>
<p><strong><br>ARTICLE 3. CONTACT</strong></p>
<p>Pour toute question ou demande d'information concernant le site, ou
tout signalement de contenu ou d'activités illicites, l'utilisateur peut
 contacter l'éditeur à l'adresse e-mail suivante: contact@andrew-caron.fr</p>
<p><strong><br>ARTICLE 4. ACCEPTATION DES CONDITIONS D'UTILISATION</strong></p>
<p>L'accès et l'utilisation du site sont soumis à l'acceptation et au respect des présentes Conditions Générales d'Utilisation.</p>
<p>L'éditeur se réserve le droit de modifier, à tout moment et sans
préavis, le site et des services ainsi que les présentes CGU, notamment
pour s'adapter aux évolutions du site par la mise à disposition de
nouvelles fonctionnalités ou la suppression ou la modification de
fonctionnalités existantes.</p>
<p>Il est donc conseillé à l'utilisateur de se référer avant toute
navigation à la dernière version des CGU, accessible à tout moment sur
le site. En cas de désaccord avec les CGU, aucun usage du site ne
saurait être effectué par l'utilisateur.</p>
<p><br><strong>ARTICLE 5. ACCÈS ET NAVIGATION</strong></p>

<p>L'éditeur met en œuvre les solutions techniques à sa disposition pour
 permettre l'accès au site 24 heures sur 24, 7 jours sur 7. Il pourra
néanmoins à tout moment suspendre, limiter ou interrompre l'accès au
site ou à certaines pages de celui-ci afin de procéder à des mises à
jours, des modifications de son contenu ou tout autre action jugée
nécessaire au bon fonctionnement du site.</p>
<p>La connexion et la navigation sur le site Populorum
 valent acceptation sans réserve des présentes Conditions Générales
d'Utilisation, quelques soient les moyens techniques d'accès et les
terminaux utilisés.</p>
<p>Les présentes CGU s'appliquent, en tant que de besoin, à toute
déclinaison ou extension du site sur les réseaux sociaux et/ou
communautaires existants ou à venir.</p>
<p><br><strong>ARTICLE 6. GESTION DU SITE</strong></p>
<p>Pour la bonne gestion du site, l'éditeur pourra à tout moment&nbsp;:</p>
<ul>
<li>Suspendre, interrompre ou limiter l'accès à tout ou partie du site,
réserver l'accès au site, ou à certaines parties du site, à une
catégorie déterminée d'internaute&nbsp;;</li>
</ul>
<ul>
<li>Supprimer toute information pouvant en perturber le fonctionnement
ou entrant en contravention avec les lois nationales ou internationales,
 ou avec les règles de la Nétiquette&nbsp;;</li>
</ul>
<ul>
<li>Suspendre le site afin de procéder à des mises à jour.</li>
</ul>
<p><br><strong>ARTICLE 7. SERVICES RÉSERVÉS AUX UTILISATEURS INSCRITS</strong></p>
<p style="padding-left: 33px;"><br>1. INSCRIPTION</p>
<p>L'accès à certains services et notamment à tous les services payants, est conditionné par l'inscription de l'utilisateur.</p>
<p>L'inscription et l'accès aux services du site sont réservés
exclusivement aux personnes physiques  capables, ayant rempli et validé
le formulaire d'inscription disponible en ligne sur le site Populorum, ainsi que les présentes Conditions Générales d'Utilisation.</p>
<p>Lors de son inscription, l'utilisateur s'engage à fournir des
informations exactes, sincères et à jour sur sa personne et son état
civil. L'utilisateur devra en outre procéder à une vérification
régulière des données le concernant afin d'en conserver l'exactitude.</p>
<p>L'utilisateur doit ainsi fournir impérativement une adresse e-mail
valide celle-ci ne pourra être utilisé qu'une seul fois pour s'inscrire aux services.</p>
<p>Toute communication réalisée par Populorum
 et ses partenaires est en conséquence réputée avoir été réceptionnée et
 lue par l'utilisateur. Ce dernier s'engage donc à consulter
régulièrement les messages reçus sur cette adresse e-mail et à répondre
dans un délai raisonnable si cela est nécessaire.</p>
<p>Une seule inscription aux services du site est admise par personne physique.</p>
<p>L'utilisateur accède à un espace dont l'accès lui est réservé (ci-après "Espace
personnel"), celui-ci lui permet d'inscrire des nouveaux utilisateurs
Un mot de passe sera alors généré aléatoirement et transmis par mail à celui-ci</p>
<p>Le mot de passe transmis lors de l'inscription est modifiable en ligne par
l'utilisateur dans son Espace personnel. Le mot de passe est personnel
et confidentiel, l'utilisateur s'engage ainsi à ne pas le communiquer à
des tiers.</p>
<p>Populorum s'engage à chiffrer le mots de passe enregistré sur le site avec l'algorithme de chiffrement Argon2i</p>
<p>Populorum se réserve en tout état
de cause la possibilité de refuser une demande d'inscription aux
services en cas de non-respect par l'utilisateur des dispositions des
présentes Conditions Générales d'Utilisation.<br><br></p>
<p style="padding-left: 33px;">2. DÉSINSCRIPTION</p>
<p>L'utilisateur régulièrement inscrit pourra à tout moment demander sa
désinscription auprès de son entreprise, la demande de suppression dépendra du temps de réaction de l'entreprise</p>
<p><br><strong>ARTICLE 8. RESPONSABILITÉS</strong></p>
<p>L'éditeur n'est responsable que du contenu qu'il a lui-même édité.</p>
<p>L'éditeur n'est pas responsable&nbsp;:</p>
<ul>
<li>En cas de problématiques ou défaillances techniques, informatiques
ou de compatibilité du site avec un matériel ou logiciel quel qu'il
soit&nbsp;;</li>
</ul>
<ul>
<li>Des dommages directs ou indirects, matériels ou immatériels,
prévisibles ou imprévisibles résultant de l'utilisation ou des
difficultés d'utilisation du site ou de ses services&nbsp;;</li>
</ul>
<ul>
<li>Des caractéristiques intrinsèques de l'Internet, notamment celles
relatives au manque de fiabilité et au défaut de sécurisation des
informations y circulant&nbsp;;</li>
</ul>
<ul>
<li>Des contenus ou activités illicites utilisant son site et ce, sans qu'il en ait pris dûment connaissance au sens de la Loi n° 2004-575 du 21 juin 2004
pour la confiance dans l'économie numérique et la Loi n°2004-801 du 6 août 2004 relative à la protection des personnes physiques
 à l'égard de traitement de données à caractère personnel.</li>
</ul>
<p>Par ailleurs, le site ne saurait garantir l'exactitude, la complétude, et l'actualité des informations qui y sont diffusées.</p>
<p>L'utilisateur est responsable&nbsp;:</p>
<ul>
<li>De la protection de son matériel et de ses données&nbsp;;</li>
</ul>
<ul>
<li>De l'utilisation qu'il fait du site ou de ses services&nbsp;;</li>
</ul>
<ul>
<li>S'il ne respecte ni la lettre, ni l'esprit des présentes CGU.</li>
</ul>
<p><strong><br>ARTICLE 9. LIENS HYPERTEXTES</strong></p>
<p>Le site peut contenir des liens hypertextes pointant vers d'autres sites internet sur lesquels Populorum
 n'exerce pas de contrôle. Malgré les vérifications préalables et
régulières réalisés par l'éditeur, celui-ci décline tout responsabilité
quant aux contenus qu'il est possible de trouver sur ces sites.</p>
<p>L'éditeur autorise la mise en place de liens hypertextes vers toute
page ou document de son site sous réserve que la mise en place de ces
liens ne soit pas réalisée à des fins commerciales ou publicitaires.</p>
<p>En outre, l'information préalable de l'éditeur du site est nécessaire avant toute mise en place de lien hypertexte.</p>
<p>Sont exclus de cette autorisation les sites diffusant des
informations à caractère illicite, violent, polémique, pornographique,
xénophobe ou pouvant porter atteinte à la sensibilité du plus grand
nombre.</p>
<p>Enfin, Populorum se réserve le
droit de faire supprimer à tout moment un lien hypertexte pointant vers
son site, si le site l'estime non conforme à sa politique éditoriale. </p>
<p><br><strong>ARTICLE 10. CONFIDENTIALITE </strong><br><br></p>
<p style="padding-left: 33px;">1. DONNEES COLLECTEES ET TRAITEES, ET MODE DE COLLECTION DES DONNEES</p>
<p>Conformément aux dispositions de l'article 5 du Règlement européen
2016/679, la collecte et le traitement des données des utilisateurs du
site respectent les principes suivants&nbsp;:</p>
<ul>
<li>Licéité, loyauté et transparence&nbsp;: les données ne peuvent être
collectées et traitées qu'avec le consentement de l'utilisateur
propriétaire des données. A chaque fois que des données à caractère
personnel seront collectées, il sera indiqué à l'utilisateur que ses
données sont collectées, et pour quelles raisons ses données sont
collectées&nbsp;;</li>
</ul>
<ul>
<li>Finalités limitées&nbsp;: la collecte et le traitement des données
sont exécutés pour répondre à un ou plusieurs objectifs déterminés dans
les présentes conditions générales d'utilisation&nbsp;;</li>
</ul>
<ul>
<li>Minimisation de la collecte et du traitement des données&nbsp;:
seules les données nécessaires à la bonne exécution des objectifs
poursuivis par le site sont collectées&nbsp;;</li>
<li>Conservation des données réduites dans le temps&nbsp;: les données
sont conservées pour une durée limitée, dont l'utilisateur est informé.
Si la durée de conservation ne peut être communiquée à
l'utilisateur&nbsp;;</li>
</ul>
<ul>
<li>Intégrité et confidentialité des données collectées et
traitées&nbsp;: le responsable du traitement des données s'engage à
garantir l'intégrité et la confidentialité des données collectées.</li>
</ul>
<p><br>Afin d'être licite, et ce conformément aux exigences de l'article
 6 du règlement européen 2016/679, la collecte et le traitement des
données à caractère personnel ne pourront intervenir que s'ils
respectent au moins l'une des conditions ci-après énumérées&nbsp;:</p>
<ul>
<li>L'utilisateur a expressément consenti au traitement&nbsp;;</li>
</ul>
<ul>
<li>Le traitement est nécessaire à la bonne exécution d'un contrat ;</li>
</ul>
<ul>
<li>Le traitement répond à une obligation légale ;</li>
</ul>
<ul>
<li>Le traitement s'explique par une nécessité liée à la sauvegarde des
intérêts vitaux de la personne concernée ou d'une autre personne
physique ;</li>
</ul>
<ul>
<li>Le traitement peut s'expliquer par une nécessité liée à l'exécution
d'une mission d'intérêt public ou qui relève de l'exercice de l'autorité
 publique ;</li>
</ul>
<ul>
<li>Le traitement et la collecte des données à caractère personnel sont
nécessaires aux fins des intérêts légitimes et privés poursuivis par le
responsable du traitement ou par un tiers.</li>
</ul>
<p><br>Les données à caractère personnel collectées sur le site Populorum sont les suivantes&nbsp;:</p>
<p style="padding-left: 33px;">Prénom, nom, adresse ip</p>
<p>Ces données sont collectées lorsque l'utilisateur effectue l'une des opérations suivantes sur le site&nbsp;:</p>
<p style="padding-left: 33px;">Lorsque
 salarié ou entreprise à commit une tentative d'accès à des données pour
 lesquels ils ne seraient pas autorisés à consulter </p>
<p>Le responsable du traitement conservera dans ses systèmes
informatiques du site et dans des conditions raisonnables de sécurité
l'ensemble des données collectées pour une durée de&nbsp;: 5 an, à moins que l'utilisateur n'en demande la suppression avant l'expiration de cette durée.</p>
<p>Lorsque les données à caractère personnel sont enregistrées,
l'utilisateur est informé de la durée pour laquelle ses données seront
conservées, et lorsque cette durée ne peut être précisée, l'éditeur du
site l'informe des critères utilisés pour la déterminer.</p>
<p>La collecte et le traitement des données répondent aux finalités suivantes&nbsp;:</p>
<p style="padding-left: 33px;">Les
 données de localisation et d'adresse IP sont enregistrées afin de
poursuivre en justice une tentative d'accès à des ressources non
autorisé </p>
<p>Les données peuvent être transmises au(x) tiers ci-après énuméré(s)&nbsp;:</p>
<p style="padding-left: 33px;">Certaines
 données collectées sont susceptible d'être transférée aux autorités
compétente en cas de tentative d'accès à des ressources non autorisé <br><br></p>
<p style="padding-left: 33px;">2. HEBERGEMENT DES DONNEES</p>
<p>Tel que mentionné plus haut, le site Populorum est hébergé par&nbsp;: o2switch, dont le siège est situé à l'adresse ci-après&nbsp;:</p>
<p style="padding-left: 33px;">222 Boulevard Gustave Flaubert, 63000 Clermont</p>
<p>L'hébergeur peut être contacté au numéro de téléphone suivant&nbsp;: 04 44 44 60 40 </p>
<p>Les données collectées et traitées par le site sont exclusivement hébergées et traitées en France. <br><br></p>
<p style="padding-left: 33px;">3. LE RESPONSABLE DU TRAITEMENT DES DONNÉES</p>
<p>Le responsable du traitement des données à caractère personnel est&nbsp;: Andrew CARON. Il peut être contacté de la manière suivante&nbsp;:</p>
<p style="padding-left: 33px;">Le responsable du traitement des données peut être contacté par mail à l'adresse&nbsp;: contact@populorum.fr<br><br></p>
<p style="padding-left: 33px;">4. DONNEES PERSONNELLES DES PERSONNES MINEURES</p>
<p>Conformément aux dispositions de l'article 8 du règlement européen
2016/679 et à la loi Informatique et Libertés, seuls les mineurs âgés de
 15 ans ou plus peuvent consentir au traitement de leurs données
personnelles.</p>
<p>Si l'utilisateur est un mineur de moins de 15 ans, l'accord d'un
représentant légal sera requis afin que des données à caractère
personnel puissent être collectées et traitées. <br><br></p>
<p style="padding-left: 33px;">5. DROITS DE L'UTILISATEUR ET PROCÉDURES DE MISE EN OEUVRE DES DROITS DE L'UTILISATEUR</p>
<p>Conformément à la réglementation concernant le traitement des données
 à caractère personnel, l'utilisateur possède les droits ci-après
énumérés.</p>
<p>Afin que le responsable du traitement des données fasse droit à sa
demande, l'utilisateur est tenu de lui communiquer&nbsp;: ses prénom et
nom ainsi que son adresse e-mail, et si cela est pertinent, son numéro
de compte ou d'espace personnel ou d'abonné.</p>
<p>Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 (trente) jours maximum.</p>
<p><em>a. Droit d'accès, de rectification et droit à l'oubli</em></p>
<p>L'utilisateur peut prendre connaissance, mettre à jour, modifier ou
demander la suppression des données le concernant, en respectant la
procédure ci-après énoncée&nbsp;:</p>
<p style="padding-left: 33px;">L'utilisateur
 doit envoyer un e-mail au responsable du traitement des données
personnelles, en précisant l'objet de sa demande et en utilisant
l'adresse e-mail de contact qui est fournie plus haut. </p>
<p>S'il en possède un, l'utilisateur a le droit de demander la
suppression de son espace personnel en suivant la procédure
suivante&nbsp;:</p>
<p style="padding-left: 33px;">
		L'utilisateur (salarié) doit faire une demande de suppression de son espace personnel, en contactant son entreprise.<br>
		L'utilisateur (entreprise) doit faire une demande de suppression de son espace personnel, en envoyant un e-mail à l'adresse prévue ci-dessus.
</p>
<p><em>b. Droit à la portabilité des données </em></p>
<p>l'utilisateur a le droit de demander la portabilité de ses données
personnelles, détenues par le site, vers un autre site, en se conformant
 à la procédure ci-après&nbsp;:</p>
<p style="padding-left: 33px;">L'utilisateur
 doit faire une demande de portabilité de ses données personnelles
auprès du responsable du traitement des données, en envoyant un e-mail à
 l'adresse prévue ci-dessus.</p>
<p><em>c. Droit à la limitation et à l'opposition du traitement des données</em></p>
<p>Enfin, l'utilisateur a le droit de demander la limitation ou de
s'opposer au traitement de ses données par le site, sans que le site ne
puisse refuser, sauf à démontrer l'existence de motifs légitimes et
impérieux, pouvant prévaloir sur les intérêts et les droits et libertés
de l'utilisateur.</p>
<p><em>d. Droit de déterminer le sort des données après la mort</em></p>
<p>Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le
 devenir de ses données collectées et traitées s'il décède, conformément
 à la loi n°2016-1321 du 7 octobre 2016.</p>
<p><em>e. Droit de saisir l'autorité de contrôle compétente </em></p>
<p>Dans le cas où le responsable du traitement des données décide de ne
pas répondre à la demande de l'utilisateur, et que l'utilisateur
souhaite contester cette décision, il est en droit de saisir la CNIL
(Commission Nationale de l'Informatique et des Libertés,
https://www.cnil.fr) ou tout juge compétent.</p>
<p style="padding-left: 33px;"><br>6. OBLIGATIONS DU RESPONSABLE DU TRAITEMENT DES DONNÉES</p>
<p>Le responsable du traitement s'engage à protéger les données à
caractère personnel collectées, à ne pas les transmettre à des tiers
sans que l'utilisateur n'en ait été informé et à respecter les finalités
 pour lesquelles ces données ont été collectées.</p>
<p>Le site dispose d'un certificat SSL afin de garantir que les
informations et le transfert des données transitant par le site sont
sécurisés. </p>
<p>De plus, le responsable du traitement des données s'engage à notifier
 l'utilisateur en cas de rectification ou de suppression des données, à
moins que cela n'entraîne pour lui des formalités, coûts et démarches
disproportionnés.</p>
<p>Dans le cas où l'intégrité, la confidentialité ou la sécurité des
données à caractère personnel de l'utilisateur est compromise, le
responsable du traitement s'engage à informer l'utilisateur par tout
moyen.</p>

<p><br><strong>ARTICLE 11. PROPRIÉTÉ INTELLECTUELLE</strong></p>
<p>La structuration du site mais aussi les textes, graphiques, images,
photographies, sons, vidéos et applications informatiques qui le
composent sont la propriété de l'éditeur et sont protégés comme tels par
 les lois en vigueur au titre de la propriété intellectuelle.</p>
<p>Toute représentation, reproduction, adaptation ou exploitation
partielle ou totale des contenus, marques déposées et services proposés
par le site, par quelque procédé que ce soit, sans l'autorisation
préalable, expresse et écrite de l'éditeur, est strictement interdite et
 serait susceptible de constituer une contrefaçon au sens des articles
L. 335-2 et suivants du Code de la propriété intellectuelle. Et ce, à
l'exception des éléments expressément désignés comme libres de droits
sur le site.</p>
<p>L'accès au site ne vaut pas reconnaissance d'un droit et, de manière
générale, ne confère aucun droit de propriété intellectuelle relatif à
un élément du site, lesquels restent la propriété exclusive de
l'éditeur.</p>
<p>Il est interdit à l'utilisateur d'introduire des données sur le site
qui modifieraient ou qui seraient susceptibles d'en modifier le contenu
ou l'apparence.</p>

<p><br><strong>ARTICLE 12. LOI APPLICABLE ET JURIDICTION COMPÉTENTE</strong></p>

<p>Les présentes Conditions Générales d'Utilisation sont régies par la loi française.
En cas de différend et à défaut d'accord amiable, le litige sera porté devant les tribunaux français conformément aux règles de compétence en vigueur.</p>

<p style="text-align: center;"><em>Le site Populorum vous souhaite une excellente navigation&nbsp;!</em></p>
