<form method="post" action="{{ path('adm_projet_historique_suppression', {'id': projet.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet événement ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.id) }}">
    <button class="btn btn-primary btn-xs"><span class="fa fa-trash"></span> Supprimer</button>
</form>
