
		<div class="wow-logo">
				<a href="{{ path('accueil') }}">
						<img class="img-responsive img-logo" src="{{ asset('assets/img/logo.png') }}">
						<p class="font-3" style="text-align:center">POPULORUM</p>
				</a>
		</div>
