
<h3>Booker sur {{ slide.evenement.nom }}</h3>

<p>
		Vous avez été booker sur un nouveau projet <br>
		Pour plus d'information connectez-vous sur <a href="https://populorum.fr">Populorum.fr</a>
</p>
