
<h3>Le projet : {{ slide.evenement.nom }} a été modifié</h3>

<p>
		Votre tâche commencera du {{ slide.date|date('d-m-Y h:i') }} au {{ slide.dateFin|date('d-m-Y h:i') }} <br>
		Pour plus d'information connectez-vous sur <a href="https://populorum.fr">Populorum.fr</a>
</p>
