<form method="post" action="{{ path('adm_projet_slide_suppression', {'idEvenement': slide.evenement.id, 'id': slide.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet tâche ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slide.id) }}">
    <button class="btn btn-primary btn-xs"><span class="fa fa-trash"></span> Supprimer</button>
</form>
