<div class="col-xs-12 col-md-4 col-lg-4 col-xl-3">
		<div class="card-box tilebox-one noradius">
				<div class="card align-center">
						<h5>Effectif</h5>
						<ul class="list-group">
								<li class="list-group-item">
										{% trans %}Total workforce:{% endtrans %} {{ salaries.count -1 }}
								</li>
								<li class="list-group-item">
										Effectif en CDI :
								</li>
								<li class="list-group-item">
										Effectif en CDD :
								</li>
								<li class="list-group-item">
										Nombres de femmes :
								</li>
								<li class="list-group-item">
										Nombres d'hommes :
								</li>
								<li class="list-group-item">
										Moyenne salariale :
								</li>
								<li class="list-group-item">
										Moyenne d'ancienneté :
								</li>
						</ul>
				</div>
		</div>
</div>
