<div class="col-xs-12 col-md-4 col-lg-4 col-xl-3">
		<div class="card-box tilebox-one noradius">
				<div class="card align-center">
						<h5>Travailleurs extérieurs</h5>
						<ul class="list-group">
								<li class="list-group-item">
										Nombre de stagiaire :
								</li>
								<li class="list-group-item">
										Durée moyenne des contrats :
								</li>
								<li class="list-group-item">
										Moyenne salariale :
								</li>
								<li class="list-group-item">
										Nombre de salarié :
								</li>
						</ul>
				</div>
		</div>
</div>
